@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; /*le quita la raya a los links*/
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; /*le quita la raya a los links*/
  list-style: none;
  
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;

}

.container { /*Contenedor general de toda la web*/
  max-width: 1200px;
  margin:  auto;
  padding: 0 20px;
}

.contenedor {
  width: 90%;
  overflow: hidden; /*el contenido no se sale*/
}

header{
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 60px;
  margin-left: 10px ;
}

.menu{
  display: flex;
  gap: 20px;
  list-style: none; /*quitar la bolita de las listas*/
}
.menu li {
  margin-left: 30px;
}

.menu a{
  color: black;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu a:hover{
  color: #00aaff;
}

.reclamos-text a{
  color: #ffffff;
}

.btn-reclamos{
  padding: 10px 30px;
  margin: 30px 0 0 0;
  background-color: red;
}

.reclamos-text a:hover{
  color: #000000;

}

.informacion-content{ 
  padding: 20px;
  display: flex;
  align-items: center;
  background-color:#ffffff;
  border-top: 4px solid #abc8d7; /*linea*/
}

.informacion-txt{
 width: 50%;
 margin: 70px;
 padding-left: 150px; 
 
}

.informacion-txt h1{
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 25px;
}

.informacion-img{
  width:30%;
  text-align: center;
}

.informacion-img img{
  max-width: 550px;
  width: 100%;
  height: auto;
}


.contenedor-text{
  margin-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

span{
  font-size: 12px;
  color: #333;
}
 h2{
  font-size: 32px;
  font-family:"Roboto Condensed", sans-serif;
  font-style:normal;
}
form {
  max-width: 600px;
  margin: 20px auto;
  font-family: sans-serif;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  height: 100px;
}
button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #4a7adb;
}

.tipo label{
  margin: 0;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.radio-group input[type="radio"] {
  margin-right: 5px;
}


footer{
  background-color: #003366;
  color: white;
  padding: 20px 0;
  font-size: 12px;
  
}

.footer-container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

.footer-links{
  display: flex;
  justify-content: space-between;
}

.link-img{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
}

.link-img img{
  width: 150px;
  margin-bottom: 10px;
}

.socials-2 img{
  width: 30px;
  margin: 10px;
}

.footer-seccion{
  flex: 1 1 250px;
  margin: 20px;
}

.footer-seccion h4{
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 2px solid #0055aa;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-seccion p, .footer-seccion ul{
  margin-bottom: 10px;
}


.footer-seccion ul li a{
  color: white;
  transition: color 0.3s eaase;

}

.footer-seccion ul li a:hover{
  color: #00aaff;
}

.footer-seccion img{
  max-height: 50px;
  margin-right: 10px;
}

.footer-derechos {
  padding: 25px 0;
  text-align: center;
  background-color:black;
  color: white;

}


